/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 czechitas  #b92e81
 pozadi     #bdc3c7
 tmava      #31363b
 delitka    #3f464d
 portfolio  #e74c3c
 facebook   #3b5998
 twitter    #1da1f2
*/


body {
    background-color: #bdc3c7;
    color: white;
}

.profil {
  margin-left: 20px;
  margin-top: 20px;
  width: 250px;
  box-shadow: 2px 4px 10px grey;
}
.logo {
  background-color: #b92e81;
  border-radius: 50%;
  position: absolute;
  left: 200px;
  top: 160px;
  box-shadow: 6px 2px 10px grey;
  
  
}
.obsah {
  background-color: #31363b;
  margin: 0px;
  width: 250px;
  padding: 20px;
  

}

h1 {
font-family: 'Montserrat';
font-size: 24px;

}

p {
font-family: 'Source Sans Pro';
font-size: 14px;
color: white;
}
.foto {
  position: relative;
  width: 250px;
  
}
.odkazy {
  font-family: 'Montserrat';
  background-color: #31363b;
  margin: 0px;
  width: 250px;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  
}
.portfolio {
  width: 100%;
}

.odkazy li {
  display: inline-block;
  border-top: 2px solid #3f464d;
  margin: 0;
	
}

ul {
padding: 0;
}

a {
  color: white;
  text-decoration: none;
  padding: 1em;
  display: block;
}

.facebook {
  width:50%;
}
.twitter {
  width:50%;
  border-left: 2px solid #3f464d;
}

.portfolio:hover {
  background-color:#e74c3c;
}

.facebook:hover {
  background-color:#3b5998;
}

.twitter:hover {
  background-color:#1da1f2;
}